<form [formGroup]="resetForm" (ngSubmit)="resetControl()" >
	<h3>Reset Password</h3>
	<div class="form-group">
		<label *ngIf="oldPassErr" class="text-danger">Please enter correct old password.</label>
		<input type="password" placeholder="Old Password" class="form-control" (keyup)="oldPassErr = false" [ngClass]="{'is-invalid': oldPassErr}" formControlName="oldPassword">
	</div>
	<div class="form-group">
		<!-- <label *ngIf="passwordErr" class="text-danger">Password is not same.</label> -->
		<input type="password" placeholder="Password" (keyup)="passwordErr = false" [ngClass]="{'is-invalid': passwordErr}" class="form-control" formControlName="password">
	</div>
	<div class="form-group">
		<label *ngIf="passwordErr"  class="text-danger">Password is not same.</label>
		<input type="password" placeholder="Confirm Password" (keyup)="passwordErr = false" [ngClass]="{'is-invalid': passwordErr}" class="form-control" formControlName="confirmPassword">
	</div>
	<div class="form-group">
		<button class="btn btn-primary">Reset Password</button>
	</div>
</form>
